html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

canvas {
    visibility: hidden;
    border: 20px solid #ddd;
    border-radius: 10px;
}

button {
    width: 120px;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    transition: 0.2s ease;
}

button hover {
    transform: scale(1.o5);
    opacity: 0.9;
}

button:active {
    transform: scale(0.95);
}

.button {
    color: white;
}
