body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

#board {
    background-color: black;
    border: 5px solid skyblue;
}